body {
      background-color: #e9e2d0;
    }

hr {
      border-style: dotted none none;
      border-color: grey;
      border-top-width: 5px;
      width: 3%;
  }

img {
      height: 150px;
  }

h1 {
  color: #d45d79;
}

h3 {
  color: #d45d79;
}
